@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav {
    @apply p-2 bg-gray-800 text-white flex justify-center sticky top-0 w-full;
  }

  h2 {
    @apply text-xl font-extrabold;
  }

  td {
    @apply py-1 align-top;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-2 py-1 border-2 border-gray-400 focus:ring-2 focus:ring-gray-300;
  }

  .center-screen {
    @apply min-h-screen flex flex-col justify-center items-center p-4;
  }

  .grid-c1 {
    @apply grid grid-cols-1 gap-2;
  }

  .stretch-row {
    @apply flex justify-between gap-2;
  }
}

* {
  font-family: "Nunito", sans-serif;
}

.h-semi {
  height: 90vh;
}
